.action-bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    align-items: baseline;
}

.customers-table{
    width: 100%;
    .mat-column-firstName, .mat-column-lastName, .mat-column-dob{
        width: 22%;
    } 
    .mat-column-phoneNumber {
        width: 24%;
    } 
    .mat-column-actions{
        width: 10%;

        .actions-button-container{
            display: flex; 
            button{
                transform: scale(0.7);
            }
        }
    }
}