<div class="action-bar">
  <mat-form-field>
    <input matInput placeholder="Search customer" #filter (keyup)="applySearch(filter.value)">
  </mat-form-field>
  <div dropdown [container]="'body'" placement="bottom right" [insideClick]="true" #addCustomerDropdown="bs-dropdown"> 
    <button mat-flat-button color="primary" dropdownToggle>+ Add customer</button> 
      <app-add-customer *dropdownMenu class="customer-form" (onClose)="addCustomerDropdown.hide()"></app-add-customer>
  </div>
</div>  
<table mat-table matSort (matSortChange)="sortDataSource($event)"
 [dataSource]="customersDataSource" class="customers-table">
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>First name</th>
    <td mat-cell *matCellDef="let item">
      <span>{{ item.firstName }}</span>
    </td>
  </ng-container>
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Last name</th>
    <td mat-cell *matCellDef="let item">
      <span>{{ item.lastName }}</span>
    </td>
  </ng-container>
  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef>Phone number</th>
    <td mat-cell *matCellDef="let item">
      <span>{{ item.phoneNumber }}</span>
    </td>
  </ng-container>
  <ng-container matColumnDef="dob">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of birth</th>
    <td mat-cell *matCellDef="let item">
      <span>{{ item.dob | date:'d MMMM, y' }}</span>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let item">
      <div class="actions-button-container">
        <div dropdown [container]="'body'" placement="bottom right" [insideClick]="true" #addCustomerDropdown="bs-dropdown"> 
          <button mat-mini-fab color="primary" dropdownToggle>
            <mat-icon>edit</mat-icon>
          </button>
          <app-add-customer *dropdownMenu [customer]="item" class="customer-form" (onClose)="addCustomerDropdown.hide()"></app-add-customer>
        </div>        
        <button mat-mini-fab color="warn" (click)="deleteCustomer(item)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<!-- <mat-paginator showFirstLastButtons></mat-paginator> -->