.customer-form{
    width: 300px;
    height: 420px;  
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 2px;
    border: solid 1px #fefefe;

    .form-container{
        display: flex;
        flex-direction: column; 
        padding: 10px 10px;
    }
    
    .button-container{
        float: right;
        padding-right: 10px;
        button {
            margin-left: 10px;
        }
    }

    mat-error{
        font-size: 12px;
    }
}