<form [formGroup]="customerFormGroup" (ngSubmit)="onSubmit()" class="customer-form">
  <fieldset class="form-container">
    <mat-form-field class="quarter-width" appearance="fill">
      <mat-label>First name</mat-label>
      <input matInput placeholder="First name" [formControl]="firstNameInput" required>
      <mat-error *ngIf="firstNameInput.errors?.required">First name is required.</mat-error>
    </mat-form-field>
    <mat-form-field class="quarter-width" appearance="fill">
      <mat-label>Last name</mat-label>
      <input matInput placeholder="Last name" [formControl]="lastNameInput" required>
      <mat-error *ngIf="lastNameInput.errors?.required">First name is required.</mat-error>
    </mat-form-field>
    <mat-error *ngIf="nameInputsGroup.errors?.identical">First and last names shall be different.</mat-error>
    
    <mat-form-field class="quarter-width" appearance="fill">
      <mat-label>Phone number</mat-label>
      <input matInput placeholder="Phone number" formControlName="phoneNumber" type="tel">
      <mat-error *ngIf="phoneInput.errors">Enter a valid Australian number.</mat-error>
    </mat-form-field> 
    <mat-form-field class="quarter-width" appearance="fill">
      <mat-label>Date of birth</mat-label>
      <input matInput placeholder="Date of birth" formControlName="dob" type="date">
      <mat-error *ngIf="dobInput.errors?.under18">Customer must be over 18.</mat-error>
    </mat-form-field>      
  </fieldset>
  <fieldset class="button-container">
    <button mat-stroked-button type="reset" (click)="this.cleanup()">Cancel</button>
    <button mat-stroked-button color="primary" type="submit" [disabled]="customerFormGroup.invalid">Submit</button>
  </fieldset>
</form> 